{% extends 'base.html.twig' %}

{% block title %}Hello LookupController!{% endblock %}

{% block body %}
<h1>Résultats de la recherche</h1>
<h2 class="my-4">Nous avons retrouvé les articles suivants pour vous: </h2>
    {% for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.content }}</td>
            <td>
                <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
            </td>
        </tr>
    {% else %}
      <div>
        Aucun article trouvé
      </div>
    {% endfor %}
{% endblock %}
